<form action='/save_number' method='post'>
    <input type='text' name='number'>
    <input type='submit' value='Play' name="Play">
</form>

<form action="/restart_game" method="post">
  <input type="submit" name="restart" value="Restart Game">
</form>
